body {
  margin-top: 20px;
}
.borders {
  border: 1px solid white;
}
.img-size {
  width: 60px;
  height: 48px;
  padding-right: 10px;
  float: left;
}
.div-size {
  max-width: 500px;
  margin: 0 auto;
  min-height: 50px;
  background-color: darkgray;
}
.banner {
  max-width: 500px;
  margin: 0 auto;
  min-height: 50px;
  background-color: black;
}
.snippet-style {
  margin-bottom: 0px;
  font-size: 75%;
}
.status-style {
  margin-bottom: 0px;
  float: right;
  margin-right: 10px;
}
a {
  color: black;
}
a:hover {
  color: blue;
}
.online-button {
  float: right;
  margin-top: 7px;
  margin-right: 10px;
  background-color: lightgray;
  color: white;
}
.all-button {
  float: right;
  margin-top: 7px;
  background-color: blue;
  color: white;
  border-color: blue;
}
.title {
  display: inline;
  margin-left: 10px;
  color: white;
}
